<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.elisabettarappo.sport-update</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/elisabettarappo/Projects/betta_website/run-sport-update.sh</string>
    </array>

    <!-- Sundays at 20:00. If the Mac is asleep/off, launchd runs it at next wake. -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>20</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/elisabettarappo/Library/Logs/betta-sport-update.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/elisabettarappo/Library/Logs/betta-sport-update.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
